In [36]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
api_key = '728e45745a33a91d8c05fab213321cbd'
g_key = 'AIzaSyDTqBYqGgqQ8Vm9mr8oMSruKc03t0Qj2N0'

gmaps.configure(api_key = g_key)

In [37]:
cities_weather = pd.read_csv("cities.csv")
cities_weather.head()

,City,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Max Temperature (F),Wind Speed (mph)
0,coruripe,100.0,br,1585505345,75.0,-10.13,-36.18,83.17,13.96
1,luderitz,0.0,na,1585505345,64.0,-26.65,15.16,68.00,19.46
2,albany,90.0,au,1585505346,77.0,-35.02,117.89,60.80,5.82
3,ilulissat,100.0,gl,1585505108,97.0,69.22,-51.10,32.00,3.36
4,alice springs,68.0,au,1585505064,35.0,-23.70,133.88,71.60,1.12

In [44]:
cities = cities_weather[["Latitude", "Longitude"]]

# locations

humidity = cities_weather["Humidity (%)"].astype(float)

# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at
# a readable size
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create heat layer
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [41]:
# Filter vacation with zero cloudiness
zero_cloudiness = cities_weather[cities_weather["Cloudiness (%)"] == 0]
zero_cloudiness.head()

,City,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Max Temperature (F),Wind Speed (mph)
1,luderitz,0.0,na,1585505345,64.0,-26.65,15.16,68.00,19.46
22,cape town,0.0,za,1585505067,67.0,-33.93,18.42,64.00,20.80
73,falam,0.0,mm,1585505414,32.0,22.92,93.68,58.14,3.13
79,provideniya,0.0,ru,1585505418,68.0,64.38,-173.30,3.06,3.38
82,adrar,0.0,dz,1585505419,16.0,25.75,-1.00,78.76,6.33

In [42]:
# Filter vacation with max temp above 70 degrees F
vacation_above_70degrees = zero_cloudiness[zero_cloudiness["Max Temperature (F)"] > 70]

# Filter vacation with max temp below 80 degrees F
vacation_below_80degrees = vacation_above_70degrees[vacation_above_70degrees["Max Temperature (F)"] < 80]

# Filter vacation with wind speed below 10 mph
vacation_slow_wind = vacation_below_80degrees[vacation_below_80degrees["Wind Speed (mph)"] < 10]

# Filter vacation with humidity below 60 %
perfect_vacation = vacation_slow_wind[vacation_slow_wind["Humidity (%)"] < 60]

# Set Index
indexed_perfect_vacation = perfect_vacation.reset_index()
del indexed_perfect_vacation["index"]
indexed_perfect_vacation

,City,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Max Temperature (F),Wind Speed (mph)
0,adrar,0.0,dz,1585505419,16.0,25.75,-1.00,78.76,6.33
1,mecca,0.0,sa,1585505617,46.0,21.43,39.83,70.92,8.19
2,sohag,0.0,eg,1585505709,15.0,26.56,31.69,78.80,6.93
3,bayan,0.0,kw,1585505632,44.0,29.30,48.05,75.20,9.17
4,malia,0.0,in,1585505886,33.0,29.13,74.69,74.86,8.86

In [43]:
vacation_cities = indexed_perfect_vacation[["Latitude", "Longitude"]]

vacation_humidity = indexed_perfect_vacation["Humidity (%)"].astype(float)

# Plot Heatmap
vacation_fig = gmaps.figure()

# Create heat layer
vacation_heat_layer = gmaps.heatmap_layer(vacation_cities, weights=vacation_humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2.5)

# Add layer
vacation_fig.add_layer(vacation_heat_layer)

# Display figure
vacation_fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Hotel variable
hotels = []

# Loop through narrowed down dataframe to get nearest hotel
for city in range(len(indexed_perfect_vacation["City"])):

    lat = indexed_perfect_vacation.loc[city]["Latitude"]
    lng = indexed_perfect_vacation.loc[city]["Longitude"]

    city_coords = f"{lat},{lng}"

    params = {
        "location": city_coords, 
        "types": "lodging",
        "radius": 5000,
        "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()

    try:
        hotels.append(hotel_response["results"][0]["name"])
    except:
        hotels.append("Nearest hotel not found")

# Dataframe with nearest hotel
indexed_perfect_vacation["Nearest Hotel"] = hotels
indexed_perfect_vacation

,City,Cloudiness (%),Country,Date,Humidity (%),Latitude,Longitude,Max Temperature (F),Wind Speed (mph),Nearest Hotel
0,adrar,0.0,dz,1585505419,16.0,25.75,-1.00,78.76,6.33,Nearest hotel not found
1,mecca,0.0,sa,1585505617,46.0,21.43,39.83,70.92,8.19,Hotel Fairmont Makkah Clock Royal Tower
2,sohag,0.0,eg,1585505709,15.0,26.56,31.69,78.80,6.93,Civil Registry - Sohag 1
3,bayan,0.0,kw,1585505632,44.0,29.30,48.05,75.20,9.17,"Radisson Blu Hotel, Kuwait"
4,malia,0.0,in,1585505886,33.0,29.13,74.69,74.86,8.86,Bhinchar Bhawan

In [47]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearest Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in indexed_perfect_vacation.iterrows()]
cities = indexed_perfect_vacation[["Latitude", "Longitude"]]

In [48]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(cities, info_box_content= [f"Nearest Hotel: {hotel}" for hotel in hotels])
vacation_fig.add_layer(markers)

# Display Map
vacation_fig

Figure(layout=FigureLayout(height='420px'))